*,
*:before,
*:after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #000000;
    background-color: #f4f4f4;
  
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    max-width: 1440px;
    margin: 0 auto;
    min-width: 585px;
    
}

.container-header {
    width: 100%;  
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    background-color: #f0ca9c;
}


.container-uoter {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    
}


/* ASIDE */

.sidebar {
    width: 320px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #d3d4d4;
    border-radius: 2px;

}


.sidebar-photo{
    width: 300px;
    
}


.sidebar-photo:hover{
    left: 4%;
    transform: scale(1.1);
    transition: all 1s;
    
    
}

/* SIDEBAR_NAV */

.contacts {
    text-align: center;
}

.contacts-list {
    list-style: none;
    
}

.contacts-link {
    position: relative;
    width: 180px;
    padding: 0 5px;
    display: block;
    margin: 10px 10px 10px 20px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #c3e0e9d6;
    color: #121212;
    transition: 0.2s linear;
    box-shadow: 0 0 2px #000000;
}

.contacts-link::before{
    content: '';
    position: absolute;
    margin: 0;
    top: 0;
    width: 0;
    height: 27px;
    left: 0;
    background: #5a66ea85;
    border-radius: 2px;
    transition: all 0.8s;
    

}
.contacts-link:hover:before {
    width: 100%;
   
}

/* NAV */

.nav {
    /* position: sticky; */
    top: 15px;
    max-width: 1440px;
    margin: 0 0 0 10px;
  
}

.container-nav {
    width: 100%; 
    padding: 0 10px;
    background: linear-gradient(to bottom, #f0ca9c, #e0e9e9 );
     
}

.nav-item {
    display: inline-block;
    
    
}

.nav-list {
    padding: 0;
    text-align: center;
    margin: 10px auto;
}

.nav-link {
    position: relative;
    width: 100px;
    padding: 0 5px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    margin: 10px 20px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #c3e0e9d6;
    color: #121212;
    transition: 0.2s linear;
    box-shadow: 0 0 2px #000000;
    
}

.nav-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 25.5px;
    background: #5a66ea85;
    border-radius: 2px;
    transition: all 0.5s;
    

}

.nav-link:hover:before {
    width: 100%;
    
}

.container-inner {
    margin: 0 auto;
    
}

/*  MAIN */

.main {
    margin: 0 auto; 
    padding: 0 0 0 10px;
}

.section {
    padding: 10px 20px;
    margin: 5px 0;
    border: 2px solid #d2dbdb;
    border-radius: 3px;
    background-color: #e0e9e9;
    
}


/*FOOTER*/

.footer {
    display:flex;
    justify-content: space-between;
    max-width: 1440px;
    min-width: 585px;
    margin:10px auto;
    background-color: #f0ca9c;
    padding: 10px 20px;
       
}

.git-footer {
    text-decoration: none;
    color: #000000;
}

.git-footer:hover{
    color: brown;

}

.logo{
    width: 70px;
}

.logo:hover{
    transform: scale(1.2);
    transition: all 0.7s;
}


